body {
  margin: 0;
  padding: 0;
}
body .wedding-date-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 100px;
  margin: 10px auto;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  color: #D4AF37;
}
body .countdown-container {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}
body .countdown-container .count-down {
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}
body .countdown-container .count-down .time-formater {
  display: inline-block;
  color: #D4AF37;
  font-size: 60px;
  width: 50px;
}
body .countdown-container .count-down .count-down-col {
  width: 50px;
  border-radius: 40px;
  display: inline-block;
  font-size: 60px;
  color: #D4AF37;
  font-family: 'Great Vibes';
}
.inviter-names-container {
  font-family: 'Great Vibes';
  font-size: 60px;
  text-align: center;
  color: #D4AF37;
}
.inviter-text {
  margin-top: 20px;
  font-family: barata;
  font-size: 25px;
  text-align: center;
  color: #c7a22b;
}
.invite-accept-button {
  display: block;
  text-align: center;
  margin-top: 35px;
}
.invite-accept-button img {
  width: 42px;
}
.registration-form {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 100px auto 0;
  padding: 100px 90px 100px 90px;
  position: relative;
  border-radius: 5px;
}
.registration-form input,
.registration-form select {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: 46%;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid #cdc1c1;
}
.registration-form input:nth-child(odd),
.registration-form select:nth-child(odd) {
  float: left;
}
.registration-form input:nth-child(even),
.registration-form select:nth-child(even) {
  float: right;
}
.registration-form .register-on {
  width: 100px;
  height: 30px;
  margin-top: 50px;
  float: right;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border: 1px solid #cdc1c1;
  font-size: 13px;
  border-radius: 5px;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}
.registration-form .register-on:hover {
  background-color: #efebeb;
}
.registration-form .heaert-logo {
  display: block;
  position: absolute;
  bottom: -24px;
  right: 0;
  background: url('images/ico-heart2.png') no-repeat;
  width: 22px;
  height: 20px;
  background-size: 22px 20px;
}
.menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  /*right: 0;*/
  right: -1000px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}
.menu-container .menu-logo {
  width: 20px;
  height: 20px;
  background-image: url('images/like.svg');
  background-size: 20px 20px;
  margin: 5px auto 10px;
}
.menu-container .menu-item {
  text-align: center;
  border-bottom: 1px solid #D4AF37;
  padding: 8px;
  color: #D4AF37;
}
.menu-container .menu-item:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}
.main-form-conteiner {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 100px auto 0;
  padding: 100px 90px 100px 90px;
  position: relative;
  border-radius: 5px;
}
.main-form-conteiner .main-container-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.main-form-conteiner .main-container-icon img {
  width: 40px;
}
.guest-table-container .guest-names-container {
  display: inline-block;
  float: right;
  width: 60%;
  text-align: center;
  font-family: barata;
  font-size: 30px;
  color: #D4AF37;
  margin-top: 20px;
}
.guest-table-container .guest-names-container .guest-table-number {
  font-family: 'Great Vibes';
  color: #D4AF37;
  font-size: 120px;
  text-align: center;
}
.guest-table-container .table-container {
  display: inline-block;
  float: left;
  width: 40%;
}
.guest-table-container .table-container img {
  width: 250px;
}
.clearfix {
  clear: both;
}