@using Wedd.Models.Home
@model GuestViewModel

<section class="invitation-card">
	<div class="inviter-card-title">Goga & Tamuna</div>
	<div class="inviter-card-text">
		SabaTs, 5 maiss, 18:00 saaTze,
	</div>

	<div class="inviter-card-text second-line">
		giwvevT gogas da Tamunas qorwilSi.
	</div>

	<a class="invitation-card-logo animated pulse">
		<img src="~/Content/images/heart-black-shape-for-valentines.svg" />
	</a>
</section>