
@{
	Layout = null;
}

<div class="pulse-container">
	<a class="pulse-menu" onclick="toggleMenu();">
		<div class="pulse-menu-stick-container">
			<div class="pulse-menu-stick one"></div>
			<div class="pulse-menu-stick two"></div>
			<div class="pulse-menu-stick three"></div>
		</div>
	</a>
</div>
